
<!DOCTYPE html>
<!--[if IE 9 ]><html class="ie ie9" lang="en" class="no-js"> <![endif]-->
<!--[if !(IE)]><!--><html lang="en" class="no-js"> <!--<![endif]-->
<head>
	<title>Dashboard | Solar Trucking</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="description" content="">
	<meta name="author" content="The Develovers">

	<!-- CSS -->
	<link href="../static/assets/css/bootstrap.css" rel="stylesheet" type="text/css">
	<link href="../static/assets/css/font-awesome.css" rel="stylesheet" type="text/css">
	<link href="../static/assets/css/main.css" rel="stylesheet" type="text/css">

	<!-- CSS for demo style switcher. you can remove this -->

	<!-- Fav and touch icons -->
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="../static/assets/ico/kingadmin-favicon144x144.png">
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="../static/assets/ico/kingadmin-favicon114x114.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="../static/assets/ico/kingadmin-favicon72x72.png">
	<link rel="apple-touch-icon-precomposed" sizes="57x57" href="../static/assets/ico/kingadmin-favicon57x57.png">
	<link rel="shortcut icon" href="../static/assets/ico/favicon.png">

         <!-- KENDO CSS-->
    <link rel="stylesheet" href="http://cdn.kendostatic.com/2015.1.429/styles/kendo.common-material.min.css"/>
    <link rel="stylesheet" href="http://cdn.kendostatic.com/2015.1.429/styles/kendo.material.min.css"/>
    <link rel="stylesheet" href="http://cdn.kendostatic.com/2015.1.429/styles/kendo.dataviz.min.css"/>
    <link rel="stylesheet" href="http://cdn.kendostatic.com/2015.1.429/styles/kendo.dataviz.material.min.css"/>

</head>
<body class="dashboard">
	<!-- WRAPPER -->
	<div class="wrapper">

		<!-- TOP BAR -->
		<div class="top-bar">
			<div class="container">
				<div class="row">
					<!-- logo -->
					<div class="col-md-2 logo" style="height:60px">
						<a href="/"><img src="../static/assets/img/kingadmin-logo-white.png"  height="45" /></a>
						<h1 class="sr-only">Solar Trucking/h1>
					</div>
					<!-- end logo -->
					<div class="col-md-10">
						<div class="row">
							<div class="col-md-3">

							</div>
							<div class="col-md-9">
								<div class="top-bar-right">
									<!-- responsive menu bar icon -->
									<a href="#" class="hidden-md hidden-lg main-nav-toggle"><i class="fa fa-bars"></i></a>

									<div class="notifications">
										<ul>
											<!-- notification: general -->
											<li class="notification-item general">
												<div class="btn-group">
													<a href="#" class="dropdown-toggle" data-toggle="dropdown">
														<i class="fa fa-bell"></i><span class="count">1</span>
														<span class="circle"></span>
													</a>
													<ul class="dropdown-menu" role="menu">
														<li class="notification-header">
															<em>You have 1 notifications</em>
														</li>
														<li>
															<a href="#">
																<i class="fa fa-comment green-font"></i>
																<span class="text">You have joined EnergiDrop Solar Monitor</span>
																<span class="timestamp">1 minute ago</span>
															</a>
														</li>

														<li class="notification-footer">
															<a href="#">View All Notifications</a>
														</li>
													</ul>
												</div>
											</li>
											<!-- end notification: general -->
										</ul>
									</div>

									<!-- logged user and the menu -->
									<div class="logged-user">
										<div class="btn-group">
											<a href="#" class="btn btn-link dropdown-toggle" data-toggle="dropdown">
												<img src="../static/assets/img/solar.png" />
												<span class="name">MetroBus Manager</span> <span class="caret"></span>
											</a>
											<ul class="dropdown-menu" role="menu">
												<li>
													<a href="/">
														<i class="fa fa-user"></i>
														<span class="text">Profile</span>
													</a>
												</li>

												<li>
													<a href="/logout">
														<i class="fa fa-power-off"></i>
														<span class="text">Logout</span>
													</a>
												</li>
											</ul>
										</div>
									</div>
									<!-- end logged user and the menu -->
								</div><!-- /top-bar-right -->
							</div>
						</div><!-- /row -->
					</div>
				</div><!-- /row -->
			</div><!-- /container -->
		</div><!-- /top -->


		<!-- BOTTOM: LEFT NAV AND RIGHT MAIN CONTENT -->
		<div class="bottom">
			<div class="container">
				<div class="row">
					<!-- left sidebar -->
					<div class="col-md-2 left-sidebar">

						<!-- main-nav -->
							<nav class="main-nav">

							<ul class="main-menu">
								<li ><a href="/"><i class="fa fa-dashboard fa-fw"></i><span class="text">Dashboard</span></a></li>
								<!--<li><a href="/"><i class="fa fa-table fa-fw"></i><span class="text">Vehicle Table</span></a></li>-->
                                <!--<li ><a href="/charts"><i class="fa fa-bar-chart-o fw"></i><span class="text">Charts</span></a></li>-->
								<li class="active"><a href="/vehicle_table" ><i class="fa fa-table fw"></i><span class="text">Vehicle Table</span></a></li>
									<!--<i class="toggle-icon fa fa-angle-left"></i></a>-->
									<!--<ul class="sub-menu ">-->
										<!--<li ><a href="/vehicle_table"><span class="text">Vehicle	Table</span></a></li>-->
										<!--<li ><a href="/fuel_table"><span class="text">Fuel	Table</span></a></li>-->
									<!--</ul>-->

								<!--<li ><a href="/map"><i class="fa fa-globe fa-fw"></i><span class="text">Map</span></a></li>-->
							</ul>
						</nav><!-- /main-nav -->

						<div class="sidebar-minified js-toggle-minified">
							<i class="fa fa-angle-left"></i>
						</div>

						<!-- sidebar content -->
						<div class="sidebar-content">
							<div class="panel panel-default">
								<div class="panel-heading"><h5><i class="fa fa-lightbulb-o"></i> Tips</h5></div>
								<div class="panel-body">
									<p>By clicking on a vehicle, you can load the power stats for that vehicle.</p>
								</div>
							</div>


						</div>
						<!-- end sidebar content -->
					</div>
					<!-- end left sidebar -->

					<!-- content-wrapper -->

					<div class="col-md-10 content-wrapper">
						<div class="row">
							<div class="col-md-4 ">
								<ul class="breadcrumb">
									<li><i class="fa fa-home"></i><a href="#">Home</a></li>
									<li class="active">Vehicle Table</li>
								</ul>
							</div>
							
						</div>

						<!-- main -->
						<div class="content">
							<!--<div class="main-header">-->
								<!--<h2>DASHBOARD</h2>-->
								<!--<em>Bird's Eye view of your power consumption</em>-->
							<!--</div>-->

							<div class="main-content">
								<div class="row">
									<div class="col-md-12">

                                        <div class="widget">
                                            <div class="widget-header">
                                                <h3><i class="fa fa-truck"></i> Vehicle Table</h3> <em>- List of all vehicles in the system. </em>
                                                <div class="btn-group widget-header-toolbar">
                                                    <a href="#" title="Focus" class="btn-borderless btn-focus"><i class="fa fa-eye"></i></a>
                                                    <a href="#" title="Expand/Collapse" class="btn-borderless btn-toggle-expand"><i class="fa fa-chevron-up"></i></a>
                                                    <a href="#" title="Remove" class="btn-borderless btn-remove"><i class="fa fa-times"></i></a>
                                                </div>
                                            </div>
                                            <div class="widget-content">
                                                <table class="table" id="grid">
                                                    <tbody>
                                                        <col style="width:5%">
                                                        <col style="width:10%">
                                                        <col style="width:10%">
                                                        <col style="width:10%">
                                                        <col style="width:10%">
                                                        <col style="width:10%">
                                                        <col style="width:10%">
                                                        <thead>
                                                            <th>Rank</th>
                                                            <th>Registration</th>
                                                            <th>Solar Yield (kWh)</th>
                                                            <th>Total Fuel Saved (l)</th>
                                                            <th>Total Carbon Emissions (kg)</th>
                                                            <th>Current Power Generation (kW)</th>
                                                            <th>Date Converted</th>
                                                        </thead>

                                                         <tr>
                                                            <td>1 </td>
                                                            <td>NUR 1122 </td>
                                                             <td>1512 kWh</td>
                                                             <td>432L</td>
                                                             <td>R6,048</td>
                                                             <td>2.1 KW</td>
                                                             <td>2015/07/10</td>
                                                        </tr>

                                                         <tr>
                                                            <td>2 </td>
                                                            <td>NUR 1123 </td>
                                                             <td>17045 kWh </td>
                                                             <td>4810L</td>
                                                             <td>R68,180 </td>
                                                             <td>1.5kW</td>
                                                             <td>2014/10/13</td>
                                                        </tr>


                                                    </tbody>
                                                </table>
                                            </div>
								        </div>

									</div>
									<div class="col-md-3">

									</div>
								</div>

								<!-- WIDGET MAIN CHART WITH TABBED CONTENT -->
								<div class="widget">
									<div class="widget-header">
										<h3><i class="fa fa-bolt"></i> Power Usage</h3> <em>- Breakdown of the Solar vs Fossil Fuels</em>
										<div class="btn-group widget-header-toolbar">
											<a href="#" id="tour-focus" title="Focus" class="btn-borderless btn-focus"><i class="fa fa-eye"></i></a>
											<a href="#" title="Expand/Collapse" class="btn-borderless btn-toggle-expand"><i class="fa fa-chevron-up"></i></a>
											<a href="#" title="Remove" class="btn-borderless btn-remove"><i class="fa fa-times"></i></a>
										</div>
									</div>
									<div class="widget-content">
										<!-- chart tab nav -->
										<div class="chart-nav">
											<strong>Select period: </strong>
											<ul id="solar-stat-tab">
                                                <li class="active"><a href="#day">Daily</a></li>
												<li><a href="#week">Weekly</a></li>
												<li><a href="#month">Monthly</a></li>
												<li><a href="#year">Annually</a></li>
											</ul>
										</div>
										<!-- end chart tab nav -->

										<!-- chart placeholder-->
										<div class="chart-content">
											<div class="demo-flot-chart solar-chart"></div>
										</div>
										<!-- end chart placeholder-->

										<hr class="separator">

									</div>
								</div>
								<!-- END WIDGET MAIN CHART WITH TABBED CONTENT -->





							</div><!-- /main-content -->
						</div><!-- /main -->
					</div><!-- /content-wrapper -->
				</div><!-- /row -->
			</div><!-- /container -->
		</div>
		<!-- END BOTTOM: LEFT NAV AND RIGHT MAIN CONTENT -->
		<div class="push-sticky-footer"></div>
	</div><!-- /wrapper -->

	<!-- FOOTER -->
	<footer class="footer">
		&copy; 2014 Energidrop
	</footer>
	<!-- END FOOTER -->



	<!-- Javascript -->
	<script src="../static/assets/js/jquery-2.1.1.js"></script>
	<script src="../static/assets/js/bootstrap.js"></script>
	<script src="../static/assets/js/modernizr.js"></script>
	<script src="../static/assets/js/bootstrap-tour.custom.js"></script>
	<script src="../static/assets/js/king-common.js"></script>
	<!--<script src="demo-style-switcher/assets/js/deliswitch.js"></script>-->
	<script src="../static/assets/js/stat/jquery.easypiechart.min.js"></script>
	<script src="../static/assets/js/raphael-2.1.0.min.js"></script>
	<script src="../static/assets/js/stat/flot/jquery.flot.min.js"></script>
	<script src="../static/assets/js/stat/flot/jquery.flot.resize.min.js"></script>
	<script src="../static/assets/js/stat/flot/jquery.flot.time.min.js"></script>
	<script src="../static/assets/js/stat/flot/jquery.flot.pie.min.js"></script>
	<script src="../static/assets/js/stat/flot/jquery.flot.tooltip.min.js"></script>
	<script src="../static/assets/js/jquery.sparkline.min.js"></script>
	<script src="../static/assets/js/datatable/jquery.dataTables.min.js"></script>
	<script src="../static/assets/js/datatable/jquery.dataTables.bootstrap.js"></script>
	<script src="../static/assets/js/jquery.mapael.js"></script>
	<script src="../static/assets/js/maps/usa_states.js"></script>
	<script src="../static/assets/js/king-chart-stat.js"></script>
	<script src="../static/assets/js/king-table.js"></script>
	<script src="../static/assets/js/king-components.js"></script>
	<script src="../static/assets/js/kendo.all.min.js"></script>
    <script src="../static/js/data.json"></script>
	<script>

        function onDataBound(e) {
            var grid = $("#grid").data("kendoGrid");

            $(grid.tbody).on("click", "td", function (e) {
                if (window.previous_row){
                    window.previous_row.css("background","")
                }

                var row = $(this).closest("tr");
                var rowIdx = $("tr", grid.tbody).index(row);
                $(row).css("background","#D4E2E2")
                update_chart(rowIdx)
                window.previous_row = row


            });
}
                $(document).ready(function() {
                    $("#grid").kendoGrid({
                         height: 250,
                        dataBound:onDataBound,
                        sortable: true,
                        reorderable: true,
                        filterable: false,
                        resizable: true
                    });
                });

    </script>
	<script>

function update_chart(vehicle_id)
{
    if (vehicle_id == 0){
        var data_index = 'v1'
    } else {
        var data_index = 'v2'
    }


        	//*******************************************
	/*	FLOT CHART
	/********************************************/
	if( $('.solar-chart').length > 0 ) {
		$placeholder = $('.solar-chart');
		$placeholder.attr('data-ctype', '#month');
		chartDay(".solar-chart");

		// tabbed chart
		$('#solar-stat-tab a').click(function(e) {
			e.preventDefault();

			$chartType = $(this).attr('href');

			// remove active state
			$('#solar-stat-tab li').removeClass('active');
			$(this).parents('li').addClass('active');

			if($chartType == '#week') {
				chartWeek($placeholder);
			}else if($chartType == '#month') {
				chartMonth($placeholder);
            }else if($chartType == '#day') {
				chartDay($placeholder);
			}else if($chartType == '#year') {
				chartYear($placeholder);
			}

			$placeholder.attr('data-ctype', $chartType);
		});

		var previousPoint = null;
	}


	// init flot chart: current week
	function chartDay(placeholder) {

//        var solar = []
        var sday = []

        for (i = 0; i < solar_data.length; i++) {
//            base.push([solar_data[i]['t'],solar_data[i]['BASE']])
//            solar.push([solar_data[i]['t'],solar_data[i][data_index]])
            sday.push([solar_data[i]['t'],solar_data[i][data_index]])

        }

        /*
		var base = [
			[gt(2015, 03, 25), 310], [gt(2015, 03, 25), 205], [gt(2015, 03, 25), 250], [gt(2015, 03, 26), 230], [gt(2015, 03, 27), 270], [gt(2015, 03, 28), 110], [gt(2015, 03, 29), 55]
		];

		var solar = [
			[gt(2015, 03, 23), 210], [gt(2015, 03, 24),20], [gt(2015, 03, 25),50], [gt(2015, 03, 26),130], [gt(2015, 03, 27),45], [gt(2015, 03, 28),20], [gt(2015, 03, 29),30]
		];
        */

		var plot = $.plot(placeholder,
			[
//				{
//					data: base,
//					label: "Base",
//					lines: {
//						show: true,
//						lineWidth: 2,
//						fill: true,
//					},
//					points: {
//						show: true,
//						lineWidth: 3,
//						fill: true,
//						fillColor: "#fafafa"
//					}
//				},
				{
					data: sday,
					label: "Solar Power (kW)",
					lines: {
						show: true,
						fill: true
					},
					points: {
						show: true,
						fill: true,
						fillColor: "#009933"
					},
				}
			],

			{
			series: {
				lines: {
					lineWidth: 2,
					fillColor: { colors: [ { opacity: 0.1 }, { opacity: 0.1 } ] }
				},
				points: {
					lineWidth: 3,
				},

				shadowSize: 0
			},
			grid: {
				hoverable: true,
				clickable: true,
				borderWidth: 0,
				tickColor: "#E4E4E4"
			},
			colors: ["#E7A13D", "#009933"],
			yaxis: {
				font: { color: "#555" },
				ticks: 8
			},
			xaxis: {
                mode: "time",minTickSize: [1, "hour"],
                min:1431648000,
                max:1431734400

                //min: (new Date('1431648000')).getTime(),
                //max: (new Date('1431734400')).getTime()
			},
			legend: {
				labelBoxBorderColor: "transparent",
				backgroundColor: "transparent"
			},
			tooltip: true,
			tooltipOpts: {
				content: '%s: %y'
			}

		});
	}

            // init flot chart: current week
	function chartWeek(placeholder) {

//		var base = [
//			[gt(2015, 03, 23), 310], [gt(2015, 03, 24), 205], [gt(2015, 03, 25), 250], [gt(2015, 03, 26), 230], [gt(2015, 03, 27), 270], [gt(2015, 03, 28), 110], [gt(2015, 03, 29), 55]
//		];


		var solar = [
			[gt(2015, 03, 23), 210], [gt(2015, 03, 24),20], [gt(2015, 03, 25),50], [gt(2015, 03, 26),130], [gt(2015, 03, 27),45], [gt(2015, 03, 28),20], [gt(2015, 03, 29),30]
		];

		var plot = $.plot(placeholder,
			[
//				{
//					data: base,
//					label: "Base",
//					lines: {
//						show: true,
//						lineWidth: 2,
//						fill: true,
//					},
//					points: {
//						show: true,
//						lineWidth: 3,
//						fill: true,
//						fillColor: "#fafafa"
//					}
//				},
				{
					data: solar,
					label: "Solar Power (kW)",
					lines: {
						show: true,
						fill: true
					},
					points: {
						show: true,
						fill: true,
						fillColor: "#009933"
					},
				}
			],

			{
			series: {
				lines: {
					lineWidth: 2,
					fillColor: { colors: [ { opacity: 0.1 }, { opacity: 0.1 } ] }
				},
				points: {
					lineWidth: 3,
				},

				shadowSize: 0
			},
			grid: {
				hoverable: true,
				clickable: true,
				borderWidth: 0,
				tickColor: "#E4E4E4"
			},
			colors: ["#E7A13D", "#009933"],
			yaxis: {
				font: { color: "#555" },
				ticks: 8
			},
			xaxis: {
				mode: "time",
				timezone: "browser",
				minTickSize: [1, "hour"],
				timeformat: "%a",
				font: { color: "#555" },
				tickColor: "#fafafa",
				autoscaleMargin: 0.02
			},
			legend: {
				labelBoxBorderColor: "transparent",
				backgroundColor: "transparent"
			},
			tooltip: true,
			tooltipOpts: {
				content: '%s: %y'
			}

		});
	}


	// init flot chart: current month
	function chartMonth(placeholder) {

//		var visit = [
//			[gt(2013, 10, 1), 100], [gt(2013, 10, 2), 140], [gt(2013, 10, 3), 160], [gt(2013, 10, 4),190], [gt(2013, 10, 5),170], [gt(2013, 10, 6), 200], [gt(2013, 10, 7), 220],
//			[gt(2013, 10, 8), 250], [gt(2013, 10, 9),280], [gt(2013, 10, 10), 240], [gt(2013, 10, 11), 250], [gt(2013, 10, 12), 260], [gt(2013, 10, 13), 300], [gt(2013, 10, 14), 320],
//			[gt(2013, 10, 15), 330], [gt(2013, 10, 16), 370], [gt(2013, 10, 17), 390], [gt(2013, 10, 18), 350], [gt(2013, 10, 19), 340], [gt(2013, 10, 20), 320], [gt(2013, 10, 21), 370],
//			[gt(2013, 10, 22), 400], [gt(2013, 10, 23), 440], [gt(2013, 10, 24), 450], [gt(2013, 10, 25), 470], [gt(2013, 10, 26), 450], [gt(2013, 10, 27), 500], [gt(2013, 10, 28), 540],
//			[gt(2013, 10, 29), 600], [gt(2013, 10, 30), 580], [gt(2013, 10, 31), 620]
//		];

		var val = [
			[gt(2013, 10, 1), 20], [gt(2013, 10, 2), 28], [gt(2013, 10, 3), 32], [gt(2013, 10, 4), 40], [gt(2013, 10, 5), 35], [gt(2013, 10, 6), 40], [gt(2013, 10, 7), 45],
			[gt(2013, 10, 8), 25], [gt(2013, 10, 9), 60], [gt(2013, 10, 10), 48], [gt(2013, 10, 11), 53], [gt(2013, 10, 12), 58], [gt(2013, 10, 13), 60], [gt(2013, 10, 14), 65],
			[gt(2013, 10, 15), 66], [gt(2013, 10, 16), 60], [gt(2013, 10, 17), 79], [gt(2013, 10, 18), 75], [gt(2013, 10, 19), 34], [gt(2013, 10, 20), 32], [gt(2013, 10, 21), 75],
			[gt(2013, 10, 22), 88], [gt(2013, 10, 23), 99], [gt(2013, 10, 24), 86], [gt(2013, 10, 25), 83], [gt(2013, 10, 26), 45], [gt(2013, 10, 27), 50], [gt(2013, 10, 28), 100],
			[gt(2013, 10, 29), 125], [gt(2013, 10, 30), 110], [gt(2013, 10, 31), 130]
		];

        var smonth

        if (solar_data[i]['t'] > (1441771155 - 2629743)) {
            smonth.push([solar_data[i]['t'],solar_data[i][data_index]])
        }

		var plot = $.plot(placeholder,
			[
//				{
//					data: visit,
//					label: "Visits",
//					bars: {
//						show: true,
//						fill: false,
//						barWidth: 0.1,
//						align: "center",
//						lineWidth: 18
//					}
//				},
				{
					data: smonth,
					label: "Solar Power (kW)"
				}
			],

			{
				series: {
					lines: {
						show: true,
						lineWidth: 2,
						fill: false
					},
					points: {
						show: true,
						lineWidth: 3,
						fill: true,
						fillColor: "#009933"
					},
					shadowSize: 0
				},
				grid: {
					hoverable: true,
					clickable: true,
					borderWidth: 0,
					tickColor: "#E4E4E4",

				},
				colors: ["#009933", "#009933"],
				yaxis: {
					font: { color: "#555" },
					ticks: 8,
				},
				xaxis: {
					mode: "time",
					timezone: "browser",
					minTickSize: [1, "day"],
					font: { color: "#555" },
					tickColor: "#fafafa",
					autoscaleMargin: 0.02
				},
				legend: {
					labelBoxBorderColor: "transparent",
					backgroundColor: "transparent"
				},
				tooltip: true,
				tooltipOpts: {
					content: '%s: %y'
				}
			}
		);

	}

	// init flot chart: current year
	function chartYear(placeholder) {

//		var visit = [
//			[gt(2013, 1, 1), 200], [gt(2013, 2, 1), 300], [gt(2013, 3, 1), 360], [gt(2013, 4, 1), 340], [gt(2013, 5, 1), 440], [gt(2013, 6, 1), 600], [gt(2013, 7, 1), 1050],
//			[gt(2013, 8, 1), 1700], [gt(2013, 9, 1), 1100], [gt(2013, 10, 1), 1200], [gt(2013, 11, 1), 1300], [gt(2013, 12, 1), 1500]
//		];

		var val = [
			[gt(2013, 1, 1), 100], [gt(2013, 2, 1), 155], [gt(2013, 3, 1), 180], [gt(2013, 4, 1), 172], [gt(2013, 5, 1), 222], [gt(2013, 6, 1), 300], [gt(2013, 7, 1), 550],
			[gt(2013, 8, 1), 452], [gt(2013, 9, 1), 552], [gt(2013, 10, 1), 600], [gt(2013, 11, 1), 680], [gt(2013, 12, 1), 750]
		];

		var plot = $.plot(placeholder,
			[
//				{
//					data: visit,
//					label: "Visits"
//				},
				{
					data: val,
					label: "Solar Power (kW)"

				}
			],

			{
				series: {
					lines: {
						show: true,
						lineWidth: 2,
						fill: false
					},
					points: {
						show: true,
						lineWidth: 3,
						fill: true,
						fillColor: "#fafafa"
					},
					shadowSize: 0
				},
				grid: {
					hoverable: true,
					clickable: true,
					borderWidth: 0,
					tickColor: "#E4E4E4",

				},
				colors: ["#d9d9d9", "#5399D6"],
				yaxis: {
					font: { color: "#555" },
					ticks: 8,
				},
				xaxis: {
					mode: "time",
					timezone: "browser",
					minTickSize: [1, "month"],
					font: { color: "#555" },
					tickColor: "#fafafa",
					autoscaleMargin: 0.02
				},
				legend: {
					labelBoxBorderColor: "transparent",
					backgroundColor: "transparent"
				},
				tooltip: true,
				tooltipOpts: {
					content: '%s: %y'
				}
			}
		);
	}
        	// get day function
	function gt(y, m, d) {
		return new Date(y, m-1, d).getTime();
	}

	function strtime(time_str) {
		return new Date.parse(time_str);
	}


	function donutLabelFormatter(label, series) {
		return "<div class=\"donut-label\">" + label + "<br/>" + Math.round(series.percent) + "%</div>";
	}

	function randomVal(){
			return Math.floor( Math.random() * 80 );
	}


}

    </script>

</body>
</html>

